.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 500px;
  border: 2px dashed var(--primary);
  border-radius: 1rem;
  padding: 0.5rem;
}

.message {
  border: 1px solid var(--secondary);
  padding: 0.5rem;
}

.countryContainer {
  padding: 1rem;
}

.inputWrapper {
  padding: 0.5rem;
  display: flex;
}

.inputWrapper label {
  flex: 1 0 4rem;
}

.inputWrapper input {
  flex: 1 0 10rem;
}

.itemListWrapper {
  width: 300px;
}

.itemListItem {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  gap: 0.5rem
}

.itemListItem span {
  flex: 0 0 4rem
}

.reduxContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.reduxRow {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.counterRow {
  flex-direction: row;
  padding: 0.5rem;
}

.counterRow button {
  margin: 0.5rem;
  padding: 0.5rem;
}