.inputWrapper {
  padding-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  justify-self: center;
  align-items: center;
}

.inputWrapperItem {
  font-size: 0.75rem;
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.25rem;
  flex: 0 0 5rem;
}

.inputWrapperCheckbox {
  border-radius: 4px;
  height: 1.5rem;
  margin: 0.5rem;
  padding: 0.25rem;
  flex: 0 0 3rem;
  background-color: var(--primary);
  accent-color: var(--secondary);
}

.inputWrapperTodo {
  border-radius: 4px;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.25rem;
  width: 5rem;
  flex: 1 0 auto;
  background-color: var(--primary);
  text-decoration: none;
}

.inputWrapperDone {
  border-radius: 4px;
  height: 2rem;
  margin: 0.5rem;
  padding: 0.25rem;
  width: 5rem;
  flex: 1 0 auto;
  background-color: var(--bg-color);
  text-decoration: line-through;
}

.buttonWrapper {
  flex: 0 0 3rem;
  display: flex;
  gap: 0.5rem;
}

.buttonWrapper button {
  border: 0;
}
